{% extends "base.html" %}
{% block content %}
  <div class="container">
    <h1>Bug Hub</h1>
    <div class="row">
      <div class="col-md-4">
        <a href="{% url 'bug_hub:bug_create' %}" class="btn btn-primary mb-3">Create New Bug Report</a>
      </div>
      <div class="col-md-8 text-md-right">
        <form method="get" class="form-inline">
          <input type="text"
                 name="q"
                 placeholder="Search by title"
                 class="form-control mr-2"
                 id="search-bar">
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Created Date</th>
            <th>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="typeDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">{{ type_filter|default:"All" }}</button>
                <ul class="dropdown-menu" aria-labelledby="typeDropdown">
                  <li>
                    <a class="dropdown-item{% if type_filter == 'all' %} active{% endif %}"
                       href="?type=all">All</a>
                  </li>
                  <li>
                    <a class="dropdown-item{% if type_filter == 'error' %} active{% endif %}"
                       href="?type=error">Error</a>
                  </li>
                  <li>
                    <a class="dropdown-item{% if type_filter == 'feature' %} active{% endif %}"
                       href="?type=feature">Feature Request</a>
                  </li>
                  <li>
                    <a class="dropdown-item{% if type_filter == 'enhancement' %} active{% endif %}"
                       href="?type=enhancement">Enhancement</a>
                  </li>
                  <li>
                    <a class="dropdown-item{% if type_filter == 'documentation' %} active{% endif %}"
                       href="?type=documentation">Documentation</a>
                  </li>
                </ul>
              </div>
              Type
            </th>
            <th>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="statusDropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">{{ status_filter|default:"All" }}</button>
                <ul class="dropdown-menu" aria-labelledby="statusDropdown">
                  <li>
                    <a class="dropdown-item{% if status_filter == 'all' %} active{% endif %}"
                       href="?status=all">All</a>
                  </li>
                  <li>
                    <a class="dropdown-item{% if status_filter == 'todo' %} active{% endif %}"
                       href="?status=todo">To Do</a>
                  </li>
                  <li>
                    <a class="dropdown-item{% if status_filter == 'in_progress' %} active{% endif %}"
                       href="?status=in_progress">In Progress</a>
                  </li>
                  <li>
                    <a class="dropdown-item{% if status_filter == 'under_review' %} active{% endif %}"
                       href="?status=under_review">Under Review</a>
                  </li>
                  <li>
                    <a class="dropdown-item{% if status_filter == 'done' %} active{% endif %}"
                       href="?status=done">Done</a>
                  </li>
                  <li>
                    <a class="dropdown-item{% if status_filter == 'all' %} active{% endif %}"
                       href="?status=wont_fix">Won't Fix</a>
                  </li>
                </ul>
              </div>
              Status
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for bug in page_obj.object_list %}
            <tr>
              <td>#{{ bug.id }}</td>
              <td>
                <a href="{% url 'bug_hub:bug_detail' bug.pk %}">{{ bug.title }}</a>
              </td>
              <td>{{ bug.report_date }}</td>
              <td>{{ bug.get_bug_type_display }}</td>
              <td>{{ bug.get_status_display }}</td>
              <td>
                <a href="{% url 'bug_hub:bug_detail' bug.pk %}">
                <i class="fa fa-eye"></i>
              </a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="5">No bugs found.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      {% if is_paginated %}
        <div class="col-6">
          {% if page_obj.has_previous %}
            <a href="?page=1" class="mx-1">« First</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="mx-1">Previous</a>
          {% endif %}
        </div>
        <div class="col-6 d-flex justify-content-end">
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="mx-1">Next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="mx-1">Last »</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
