{% extends "base.html" %}
{% block content %}
  <div class="container mt-4">
    <h2>Create a New Bug</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  {% if form.errors %}
    <div class="alert alert-danger">
      <strong>Error!</strong> Please correct the following errors:
      <ul>
        {% for error in form.errors %}<li class="error-message">{{ error }}</li>{% endfor %}
      </ul>
    </div>
  {% endif %}
{% endblock content %}
