<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Sorry, the page you're looking for is not available. Please explore our site using the navigation menu.">
    <meta name="keywords"
          content="404 error, page not found, broken link, missing webpage, website error, troubleshooting">
    <meta name="author" content="Niloth">
    <title>404 Not Found - {{ PRODUCT_NAME }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'common/css/404.css' %}" />
    <link rel="icon"
          type="image/x-icon"
          href="{% static 'common/images/favicon.ico' %}">
  </head>
  <body>
    <div class="container">
      <div class="error-code">404</div>
      <div class="error-message">Not Found</div>
      <p>Oops! The page you're looking for doesn't exist.</p>
      <div class="back-button">
        <a href="{% url 'home' %}">Go back to {{ PRODUCT_NAME }}</a>
      </div>
    </div>
  </body>
</html>
