<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}
        Glitch Guru
      {% endblock title %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'common/css/dark_mode.css' %}" />
    <link rel="stylesheet" href="{% static 'common/css/styles.css' %}" />
    <script>
      function handleLoadingError(libname) {
        alert(`Error loading ${libname}. Please try again later.`);
      }
    </script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          onerror="handleLoadingError(this.getAttribute('lib-not-loaded'))"
          lib-not-loaded="bootstrap css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          onerror="handleLoadingError(this.getAttribute('lib-not-loaded'))"
          lib-not-loaded="fontawesome" />
  </head>
  <body>
    {% include "header.html" %}
    {% block content %}
    {% endblock content %}
    {% include "footer.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            onerror="handleLoadingError(this.getAttribute('lib-not-loaded'))"
            lib-not-loaded="jquery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
            onerror="handleLoadingError(this.getAttribute('lib-not-loaded'))"
            lib-not-loaded="popper"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            onerror="handleLoadingError(this.getAttribute('lib-not-loaded'))"
            lib-not-loaded="bootstrap js"></script>
    <script src="{% static 'common/js/dark_mode_script.js' %}"></script>
  </body>
</html>
