<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Niloth">
    <title>
      {% block title %}
        {{ PRODUCT_NAME }}
      {% endblock title %}
    </title>
    {% load static %}
    <link rel="icon"
          type="image/x-icon"
          href="{% static 'common/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'common/css/dark_mode.css' %}" />
    <link rel="stylesheet" href="{% static 'common/css/styles.css' %}" />
    <script>
      function handleLoadingError(libname) {
        let message = `Error loading ${libname}. `;
        switch(libname) {
          case 'bootstrap css':
            message += "This may affect the visual layout and styling of the page. ";
            message += "Bootstrap is a widely used library for responsive design, so its failure to load could be due to network issues or CDN problems. ";
            break;
          case 'jquery':
            message += "Interactive features and some dynamic content might not work properly. ";
            message += "jQuery is a common JavaScript library, and its failure to load could be due to a network or CDN issue. ";
            break;
          case 'popper':
            message += "Some pop-up elements or tooltips might not display correctly. ";
            message += "Popper.js is crucial for positioning elements, and its failure to load might be a network-related issue. ";
            break;
          case 'bootstrap js':
            message += "Certain interactive components like modals, dropdowns may not function. ";
            message += "This is often due to network or CDN issues. ";
            break;
          case 'fontawesome js':
            message += "Icons and some graphical elements may not appear as intended. ";
            message += "FontAwesome is a library for icons, and loading issues are typically related to network or CDN problems. ";
            break;
          default:
            message += "Some features may not work as expected. ";
            break;
        }
    
    message += "If the problem persists, please check your internet connection or try accessing the site from a different browser.";
    alert(message);

      }
    </script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          onerror="handleLoadingError(this.getAttribute('lib-not-loaded'))"
          lib-not-loaded="bootstrap css" />
  </head>
  <body>
    {% include "header.html" %}
    {% block content %}
    {% endblock content %}
    {% include "footer.html" %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"
            onerror="handleLoadingError(this.getAttribute('lib-not-loaded'))"
            lib-not-loaded="jquery"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            onerror="handleLoadingError(this.getAttribute('lib-not-loaded'))"
            lib-not-loaded="popper"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            onerror="handleLoadingError(this.getAttribute('lib-not-loaded'))"
            lib-not-loaded="bootstrap js"></script>
    <script src="https://kit.fontawesome.com/bdcebbb112.js"
            crossorigin="anonymous"
            onerror="handleLoadingError(this.getAttribute('lib-not-loaded'))"
            lib-not-loaded="fontawesome js"></script>
    <script src="{% static 'common/js/dark_mode_script.js' %}"></script>
  </body>
</html>
