<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-unstyled d-flex justify-content-center align-items-center"
            id="social-icon-list">
          <li class="social-icon">
            <i class="fab fa-facebook fa-2x"></i>
          </li>
          <li class="social-icon">
            <i class="fab fa-twitter fa-2x"></i>
          </li>
          <li class="social-icon">
            <i class="fab fa-instagram fa-2x"></i>
          </li>
          <li class="social-icon">
            <i class="fab fa-pinterest fa-2x"></i>
          </li>
          <li class="social-icon">
            <i class="fab fa-youtube fa-2x"></i>
          </li>
        </ul>
        <p>
          <span class="emphasized-name">{{ PRODUCT_NAME }}</span> Crafted with ❤️ by
          <span class="emphasized-name">Niloth</span>
        </p>
        <p>
          © 2023 {{ PRODUCT_NAME }}. All rights reserved | Privacy Policy | Terms
          of Use
        </p>
      </div>
    </div>
  </div>
</footer>
