<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-unstyled d-flex justify-content-center align-items-center"
            id="social-icon-list">
          <li class="social-icon">
            <a class="fa-icon-link" href="https://www.facebook.com/wmnobrasil/">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
          </li>
          <li class="social-icon">
            <a class="fa-icon-link" href="https://twitter.com/wmnobrasil">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
          </li>
          <li class="social-icon">
            <a class="fa-icon-link"
               href="https://www.instagram.com/wmnobrasil/reels/">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </li>
          <li class="social-icon">
            <a class="fa-icon-link" href="https://www.youtube.com/c/wmnobrasil">
              <i class="fab fa-youtube fa-2x"></i>
            </a>
          </li>
          <li class="social-icon">
            <a class="fa-icon-link" href="https://medium.com/@wmnobrasil">
              <i class="fab fa-medium fa-2x"></i>
            </a>
          </li>
          <li class="social-icon">
            <a class="fa-icon-link" href="https://www.wikidata.org/wiki/Q28378968">
              <i class="fab fa-wikipedia-w fa-2x"></i>
            </a>
          </li>
          <li class="social-icon">
            <a class="fa-icon-link"
               href="https://www.linkedin.com/company/wmnobrasil/">
              <i class="fab fa-linkedin-in fa-2x"></i>
            </a>
          </li>
        </ul>
        <p>
          <span class="emphasized-name">{{ PRODUCT_NAME }}</span> Crafted with ❤️ by
          <span class="emphasized-name">Niloth</span>
        </p>
        <p>
          © 2023 Wiki Movimento Brasil. All rights reserved | Privacy Policy | Terms
          of Use
        </p>
      </div>
    </div>
  </div>
</footer>
