<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand" href="{% url 'home' %}">
      <span class="emphasized-name">{{ PRODUCT_NAME }}</span>: Bug Tracker
    </a>
    <button class="btn btn-light ml-auto order-md-1" id="darkModeToggle">
      <i id="themeIcon" class="fas fa-moon"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto order-md-2">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'bug_hub:bug_list' %}">Bugs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
